/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,500&family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

/* Body Padding */
body {
	margin: 0 !important;
	padding: 0 !important;
}
@media (max-width: 979px) {
  body {
    	padding-top: 0px;
  }
}

/*Image Responsiveness*/
.responsive {
  width: 100%;
  height: auto;
}

.responsive1 {
	width: 33%;
	height: auto;
}

/* Responsive Row of Images */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  padding: 0 10px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.CINTA {
	flex: calc(804 / 363);
}
.NIH {
	flex: calc(275 / 242);
}
.NTH {
	flex: calc(300 / 116);
}


/* Responsive layout - makes a stack 
@media screen and (max-width: 979px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
*/
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
*/

/*Text Responsiveness*/
.center {
  margin: auto;
  width: 66%;
}

/* dark Class */
.dark {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* Buttons and Block class */
button {
    font-family : inherit;
    font-size: 1em;
}

.block {
	background-color: #00008B;
	display: block;
  	width: 33%;
  	border: none;
	color: white;
  	padding: 14px 28px;
  	font-size: 16px;
  	cursor: pointer;
  	text-align: center;
	border-radius: 8px;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
  	font-weight: 400;
}
.block:hover {
  background-color: #4cb7e1;
  color: black;
}

/*Link Color*/
.dark a:link {
  color: #4cb7e1;
  background-color: transparent;
  text-decoration: none;
}
.dark a:visited {
  color: #c648c2;
  background-color: transparent;
  text-decoration: none;
}
.dark a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
.dark a:active {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

@media (max-width: 979px) {
  .dark {
    	 font-size: 8px;
  }
}

/* Text styles */

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 2em;
  color: #00008B;
}

h2 {
  font-weight: 700;
  font-size: 1.3em;
  color: #00008B;
}

h3 {
	font-weight: 500;
	font-size: 2em;
	font-style: italic;
}

h4 {
	font-style: bold;
	font-size: 1.1em;
}

/* Navigation Bar */
	
.topnav {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
  	font-weight: 400;
	background-color: transparent;
	overflow: hidden;
	margin-bottom: 0;
	/* position: fixed; */
	top: 0;
	width: 100%;
	z-index: 100;
	text-decoration: none;
	transition: background-color 200ms linear;
}
.topnav b {
	float: right;
	padding: 0px 1em;
	}
.topnav b img {
	height: 2.8em;
	width: auto;
	padding-top: .56em;
}
.topnav a {
	color: #4cb7e1;
	text-align: center;
	float: left;
	padding: 0.78em 1em;
	text-decoration: none;
	font-size: 1em;
}
.topnav a:link {
	text-decoration: none;
}
.topnav a:hover {
	background-color: #E0E0E0;
	color: #302F2F;
}
.topnav a.active {
	background-color: transparent;
	color: #000000;
	font-weight: 600;
}
.topnav.scrolled {
	background-color: #000000;
}
@media screen and (max-width: 979px) {
	.topnav {
		font-size: 9px;
	}
}
